<z-header></z-header>

<section class="hero is-danger is-small" style="">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Firebase 🔥 Twitter Trends
      </p>
      <p class="subtitle">
        A Twitter Statistics Comparator 🐦made with Firebase / Angular
      </p>
    </div>
  </div>
</section>

<div class="box cta" *ngIf="!isAuthenticated">
  <p class="has-text-centered">
    <span class="tag is-dark">⚠️ Warning</span> You need to be login to access to the dashboard 🔥
  </p>
</div>

<router-outlet></router-outlet>

<z-footer></z-footer>