<nav class="navbar is-fixed-top has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="'/'">
      <img src="https://cdn4.iconfinder.com/data/icons/google-i-o-2016/512/google_firebase-2-512.png" alt="Firebase Twitter Trends" height="28">
      &nbsp; Firebase Twitter Trends
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="'/'">
        Dashboard
      </a>
      <a class="navbar-item" [routerLink]="'/about'">
        About
      </a>
    </div>

    <div class="navbar-end">
      <ng-container *ngIf="user">
        <div class="navbar-item">
          <h1>Hello {{ user.displayName }}!</h1>
        </div>
        <div class="navbar-item">
          <a class="button is-link" (click)="logout()">
            <span class="icon">
              <i class="fa fa-google"></i>
            </span>
            <span>Logout google</span>
          </a>
        </div>
      </ng-container>
      <ng-container *ngIf="!user">
        <div class="navbar-item">
          <div class="field is-grouped" *ngIf="!user">
            <p class="control">
              <a class="button is-link" (click)="login()">
                <span class="icon">
                  <i class="fa fa-google"></i>
                </span>
                <span>Login google</span>
              </a>
            </p>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</nav>
