<nav class="navbar is-fixed-top has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="'/'">
      <img src="https://cdn.evbuc.com/images/30344048/190528843891/2/logo.png" alt="Zenika Twitter Trends" height="28">
      &nbsp; Zenika Twitter Trends
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="'/'">
        Home
      </a>
      <a class="navbar-item" [routerLink]="'/about'">
        About
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button bd-tw-button">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>
                login twitter
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-dark">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>login github</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>