service cloud.firestore {
	function isSignedIn(){
  	return request.auth != null;
  }
  match /databases/{database}/documents {
    match /stats/{document=**} {
    	allow read: if isSignedIn();
      allow write: if false;
    }
    match /handlers/{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}