
<section class="hero is-danger is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Zenika Twitter Trends
      </p>
      <p class="subtitle">
        Un souper comparateur de statistiques Twitter 🐦 avec Firebase / Angular
      </p>
    </div>
  </div>
</section>

<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-primary">New</span> Je sais pas encore quoi mettre dans ce bloc 🦄
  </p>
</div>

<footer>
</footer>
